.transectionHistory>div{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: .5rem;
    margin: 1rem auto;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(128, 128, 128,.25);
position: relative;
}
.closeBtn{
    cursor: pointer;
  background-color: #8a6a66;
  color: white;
  font-weight: bold;
    border: 0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%,-50%);
    opacity: 0;
    transition: opacity .3s ease;
}
.transectionHistory div:hover .closeBtn{
opacity: 1;
}

.transectionHistory>div::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 3px;
    right: 0px;
    top: 0px;
}

.transectionHistory>div.plus::after{
    background-color: rgb(34, 118, 245);

}
.transectionHistory>div.minus::after{
    background-color: rgb(10, 151, 41);

}